DEPLOYER_PRIVATE_KEY=0xYOUR_PRIVATE_KEY_HERE
CELOSCAN_API_KEY=YOUR_CELOSCAN_API_KEY
CELO_RPC_URL=https://alfajores-forno.celo-testnet.org
CUSD_ADDRESS=0x874069Fa1Eb16D44d622F2e0Ca25eeA172369bC1
MAJI_TOKEN_ADDRESS=
WATER_PAYMENT_ADDRESS=
WATER_ORACLE_ADDRESS=
WATER_DAO_ADDRESS=
